html,
body {
    height: 100%;
}

.container {
    height: 100%;
    display: grid;
    grid-template-areas: 
        "sidebar header header header header"
        "sidebar article article article article"
        "sidebar article article article article"
        "sidebar article article article article"
        "sidebar article article article article";
    gap: 5px;
}

.sidebar {
    background-color: lightblue;
    grid-area: sidebar;
}

.header {
    grid-area: header;
    background-color: lightgoldenrodyellow;
}

.article {
    grid-area: article;
    background-color: lightgray;
}
